.toolbox-block {
    padding: 10px 0 10px 16px;
    outline: 1px solid #b9bfcb;
}

.toolbox-block-tag {
    display: inline-block;
    color: white;
    background: #4a90e2;
    line-height: 31px;
    position: relative;
    height: 30px;
}

.toolbox-block-tag:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.tag-open {
    margin-right: 2.4rem;
    padding: 0 0 0 8px;
    border-radius: 5px 0 0 5px;
}

.tag-open:before {
    right: -15px;
    border-left: 14px solid #4a90e2;
}

.tag-close {
    padding: 0 8px 0 0;
    border-radius: 0 5px 5px 0;
}

.tag-close:before {
    left: -15px;
    border-right: 14px solid #4a90e2;
}