.line {
    white-space: nowrap;
    width: 100%;
    margin-right: 80px;
    padding: 3px 0 3px 0;
    min-height: 26px; /* Fixes issue when single-element line draggable picked up */
}

.text {
    display: inline-block;
    position: relative;
    white-space: pre;
    cursor: default;
}

.opening, .closing, .self-closing {
    display: inline-block;
    color: white;
    background: #4a90e2;
    line-height: 20px;
    position: relative;
    height: 20px;
}

.opening:before, .closing:before, .self-closing:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.self-closing {
    margin-right: 2px;
    padding: 0 8px 0 8px;
    border-radius: 5px;
}

.opening {
    margin-right: 1rem;
    padding: 0 0 0 8px;
    border-radius: 5px 0 0 5px;
}

.opening:before {
    right: -15px;
    border-left: 14px solid #4a90e2;
}

.closing {
    margin-left: 1rem;
    padding: 0 8px 0 0;
    border-radius: 0 5px 5px 0;
}

.closing:before {
    left: -15px;
    border-right: 14px solid #4a90e2;
}

.locked.opening,
.locked.closing,
.locked.self-closing {
    background: rgba(74, 144, 226, 0.5);
}

.locked.opening:before,
.locked.closing:before,
.locked.self-closing:before {
    opacity: 0.5;
}

.unlocked.opening:before {
    border-left: 14px solid #4a90e2;
}

.unlocked.closing:before {
    border-right: 14px solid #4a90e2;
}

.unlocked {
    cursor: pointer;
}

.unlocked:hover {
    opacity: 0.8;
}

.is-dragged-over {
    background-color: #f0f0f0;
}