.visual-html-editor {
    line-height: 25px;
    max-width: 80%;
    height: 100%;
    display: flex;
    font-family: Consolas, monospace;
    font-size: 14px;
    overflow: auto;
}

.lines-counter {
    width: 40px;
    background-color: #f0f0f0;
    color: #333;
    position: relative;
}

.lines-container {
    width: 100%;
    padding-right: 40px;
}

@media only screen and (max-width: 768px) {
    .visual-html-editor {
        max-width: 100%;
        width: 100%;
    }
}