.visual-html-editor {
    line-height: 20px;
    /*max-width: 80%;*/
    /*height: 100%;*/
    display: flex;
    font-family: Consolas, monospace;
    font-size: 14px;
    overflow: auto;
    flex-grow: 2;
}

.lines-counter {
    width: 40px;
    background-color: #f0f0f0;
    color: #333;
    position: relative;
}

.lines-container {
    width: auto;
}

@media only screen and (max-width: 768px) {
    .visual-html-editor {
        max-width: 100%;
        width: 100%;
    }
}